<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ page session="false"%>

<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="css/styleIndex.css">
    <link rel="icon" type="image/png" sizes="32x32" href="images/logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/logo.png">
    <title>Welcome to Muntrain!</title>
</head>


<body>
    <header>
        <div class="logo-container">
          <img width="48px" height="48px" src="images/logo.png" alt="logo" />
          <h1 class="logo">Muntrain</h1>
        </div>
        <nav>
          <ul class="nav-links">
            <li><a class="nav-link" href="#">ENTRENADORES</a></li>
            <li><a class="nav-link" href="#">MAPAS</a></li>
            <li><a class="nav-link" href="#">CONTACTO</a></li>
          </ul>
        </nav>
       
      </header>
  
      <main>
        <section class="presentation">
          <div class="introduction">
            <div class="intro-text">
              <h1>Un entrenamiento a la altura de la competición
                </h1>
              <p>
                  Crea mapas, juega a pruebas de memoria, lecturas de terreno y mucho más. Disponible para Web y para dispositivos móviles

              </p>
            </div>
            <div class="cta">
              <a href="/register"><button class="cta-select">CREAR CUENTA</button></a>
             <a href="/login"><button class="cta-add">HAZ UN TEST</button></a>
            </div>
          </div>
          <div class="cover">
            <img src="./images/map-test.jpg" alt="matebook" />
          </div>
        </section>
  
      </main>
      <footer>
        <p>Muntrain es un proyecto realizado para <a target="_blank" href="http://www.camaraleon.com/">Camara de Comercio Leon</a></p>
      </footer>
</body>
</html>
